<!DOCTYPE html>
<html>
<head>
   	<meta charset="utf-8"/>
	<title>PinoleroSoftware</title>
	<link rel="stylesheet" type="text/css" href="media/CSS/normalize.css">
	<link rel="stylesheet" type="text/css" href="media/CSS/Estilos.css">
	<link rel="stylesheet" type="text/css" href="media/CSS/SliderHome.css">
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'/>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'/>
</head>
<body>
	<div class="contenedor-body">
		<section class="nav-contenedor">
			<figure class="logo-contenedor">
				<img src="media/img/logo.png" class="logo">
				<figcaption class="logo-descripcion"></figcaption> 
			</figure>
			<nav class="main-menu">
				<ul class="list">
					<li class="list-Item"><a href="#" class="list-Item-link" id="Home">Home</a></li>
					<li class="list-Item"><a href="#" class="list-Item-link">Portafolio</a></li>
					<li class="list-Item"><a href="#" class="list-Item-link" id="btnPublicaciones">Publicaciones</a></li>
					<li class="list-Item"><a href="#" class="list-Item-link" id="btnContact">Contacto</a></li>
				</ul>
			</nav>	
		</section>
		<section class="contenedor">
			<div class="Contenedor-social">
				<ul>
					<li class="item-social">
						<a href="https://www.facebook.com/pages/Pinolero-Software/722055511142992?ref=hl"  class="zocial-facebook social-a" target="_blank"><label class="lblsocial">Facebook</label></a>
					</li>
					<li class="item-social">
						<a href="#"  class="zocial-twitter social-a" target="_blank"><label class="lblsocial">Twitter</label></a>
					</li>
					<li class="item-social">
						<a href="#"  class="zocial-youtube social-a" target="_blank"><label class="lblsocial">YouTube</label></a>
					</li>
				</ul>
			</div>
			<section class="Contenedorleft" id="Cont-Home">
				<!--Slider Pagina Principal-->
				<div class="slider" id="slider">
			        <ul class="bjqs">
			            <li>
			                <img src="media/img/slider/1.png" alt=""/>
			            </li>
			            <li>
			                <img src="media/img/slider/2.png" alt=""/>
			            </li>
			            <li>
			                <img src="media/img/slider/3.png" alt=""/>
			            </li>
			        </ul>
		    	</div>

		    	<!--Informacion-->
				<article class="Text-Informacion-Portada">
					<h2 class="Enc-h2">
						¿Quienes Somos?
					</h2>
					<p class="Parrafo">
						Somos un Grupo que se dedica al desarrollo de software en tecnologia de microsoft y software libre.
					</p>
					<p class="Parrafo">
						Nos dedicamos al desarrollo de aplicaciones de escritorio en (.net), desarrollo y diseño de Páginas Web interactivas, utilizando siempre las mejores y más nuevas tecnología.
					</p>
				</article>
			</section>

			<!--Section Publicaciones-->
			<section class="Contenedor-Publicaciones" id="publicaciones">
				<article class="Content-Articulo">
					<div class="articulo-content" id="btn_VModal">
						<figure class="articulo-figure">
							<img src="media/img/publicaciones/HTML5.png" class="ariculo-img" >
							<figcaption class="ariculo-descripcion">
								<h3 class="articulo-titulo">HTM5</h3>
								<p class="articulo-Text">
									HTML5 significa HyperText Markup Language, versión 5, ¿qué es esto? Un lenguaje en el que se escriben las páginas Web, que permite hacer enlaces (hipertexto) y que es leído por los navegadores para poder mostrar la información en la pantalla de tu ordenador de una forma correcta.
								</p>
							</figcaption> 
						</figure>
					</div>
					<div class="div-social">
						<ul>
							<li class="fontawesome-thumbs-up like"></li>
							<li class="fontawesome-thumbs-down no-like"></li>
						</ul>
					</div>
				</article>
			</section>

			<!--Formulario de Contacto-->
			<section class="Contenedor-Contact" id="Cont-Contacto">
				<h2 class="Contacto-Encabezado">Contactenos Aquí</h2>
				<form method="post" class="form">
					<input type="email" name="" placeholder="Correo Electronico" class="input" />
					<input type="text" name="" placeholder="Ingrese su Nombre"class="input"/>
					<textarea class="input textarea" placeholder="Consulta"></textarea>
					<button class="btnEnviar">Enviar Correo</button>
				</form>
			</section>
		</section>
	</div>

	<!--Ventana Modal Contenido Publicaciones-->
	<div class="Content-Ventana-Modal" id="Content_Ventana_Modal">
		<div class="Ventana-Modal">
			<div class="Content_btn_exit">
				<img src="media/img/exit.png"  class="btn_exit" id="btn_exit">
			</div>
			<h2 class="publicaciones-titulo">HTM5</h2>
			<div class="Content_Publicaciones_IMG">
				<img src="media/img/publicaciones/HTML5.png" class="Publicaciones_IMG">
			</div>
			<article class="Publicaciones_Contenido">
				<p>
					Desarrollar grandes aplicaciones en un lenguaje estructurado y todavía experimentar ciclos de desarrollo Editar / Actualizar rápidas? De hecho, la profecía se ha hecho realidad. Obtener una locura productiva con herramientas de Dart, bibliotecas HTML lisas, polyfills cross-browser, y componentes web marco basado. Vamos a aprender cómo se puede desarrollar fácil y rápidamente aplicaciones web que funcionan entre navegadores en plataformas de escritorio y móviles. Le mostraremos cómo construir aplicaciones web modernas con componentes Web y vistas basadas en datos dinámicos sin tener que esperar a que los ciclos de compilación engorrosos. Haga un cambio, recarga golpear, y el auge, está listo para todos los navegadores modernos.
				</p>
				<p>
					Desarrollar grandes aplicaciones en un lenguaje estructurado y todavía experimentar ciclos de desarrollo Editar / Actualizar rápidas? De hecho, la profecía se ha hecho realidad. Obtener una locura productiva con herramientas de Dart, bibliotecas HTML lisas, polyfills cross-browser, y componentes web marco basado. Vamos a aprender cómo se puede desarrollar fácil y rápidamente aplicaciones web que funcionan entre navegadores en plataformas de escritorio y móviles. Le mostraremos cómo construir aplicaciones web modernas con componentes Web y vistas basadas en datos dinámicos sin tener que esperar a que los ciclos de compilación engorrosos. Haga un cambio, recarga golpear, y el auge, está listo para todos los navegadores modernos.
				</p>
				<p>
					Desarrollar grandes aplicaciones en un lenguaje estructurado y todavía experimentar ciclos de desarrollo Editar / Actualizar rápidas? De hecho, la profecía se ha hecho realidad. Obtener una locura productiva con herramientas de Dart, bibliotecas HTML lisas, polyfills cross-browser, y componentes web marco basado. Vamos a aprender cómo se puede desarrollar fácil y rápidamente aplicaciones web que funcionan entre navegadores en plataformas de escritorio y móviles. Le mostraremos cómo construir aplicaciones web modernas con componentes Web y vistas basadas en datos dinámicos sin tener que esperar a que los ciclos de compilación engorrosos. Haga un cambio, recarga golpear, y el auge, está listo para todos los navegadores modernos.
				</p>
				<p>
					Desarrollar grandes aplicaciones en un lenguaje estructurado y todavía experimentar ciclos de desarrollo Editar / Actualizar rápidas? De hecho, la profecía se ha hecho realidad. Obtener una locura productiva con herramientas de Dart, bibliotecas HTML lisas, polyfills cross-browser, y componentes web marco basado. Vamos a aprender cómo se puede desarrollar fácil y rápidamente aplicaciones web que funcionan entre navegadores en plataformas de escritorio y móviles. Le mostraremos cómo construir aplicaciones web modernas con componentes Web y vistas basadas en datos dinámicos sin tener que esperar a que los ciclos de compilación engorrosos. Haga un cambio, recarga golpear, y el auge, está listo para todos los navegadores modernos.
				</p>
			</article>
		</div>
	</div>

	<footer class="footer">
		<p>{{title}}</p>
	</footer>
	<script type="text/javascript" src="media/JS/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="media/JS/jquery.js"></script>
	<script src="media/JS/Sliderplugin.js"></script>
    <script src="media/JS/ControlSilder.js"></script>
</body>
</html>